@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* fonts part  */

/* Work Sans fonts here */

* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* common design here */

body{
    margin-top: 0px;
}

.primary-clr{
    background-color: #FF900E;
}

/* Navbar styles here  */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 10px 220px 0 220px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>h3{
    margin-top: 0px;
    padding-top: 15px;
    font-size: 30px;
    
}

nav>ul{
    display: flex;
}

nav>ul>li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
    color: #424242;
}


/* Banner Styles here  */
.banner-division{
    text-align: center;
    width: 800px;
    margin: 0 auto;
}
.banner-title{
    font-size: 50px;
    font-weight: 600;
    color: #131313;

}
.banner-subtitle{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.banner-btn{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}